/* General styles */
.norm {
    font-size: 20px;
    margin-left: 4px;
    color: #ffffff;
}

form {
    background-color: #2E2F33;
    margin-top: 10px;
    margin-right: 1340px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

label {
    font-size: 20px;
    margin-bottom: 2px;
    display: block;
    color: #ffffff;
}

input[type="number"] {
    width: 30px 0 30px;
    padding: 5px;
    margin: 15px 0 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    background-color: #3A3B3F;
    color: #ffffff;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.rect1 {
    width: 300px;
    height: 220px;
    line-height: 220px;
    margin-right: 80px;
    margin-top: -120px;
    float: right;
    text-align: center;
    background-color: #2C3348;
    color: white;
    border: 1px solid #ccc;
}

.boxrow1 {
    margin-top: 10px;
}

.bowrow3, .boxrow4 {
    margin-bottom: 0px;
}

.box {
    margin-left: 400px;
    cursor: pointer;
    width: 100px;
    height: 65px;
    background-color: green;
    color: white;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.box.clicked {
    background-color: red;
    color: white;
    transition: 0.25s;
}

/* Responsive styles */
@media (max-width: 1200px) {
    form {
        margin-right: 1040px;
    }
}

@media (max-width: 992px) {
    .box {
        width: 80px;
        height: 55px;
        font-size: 12px;
        margin-left: 200px;
    }

    .rect1 {
        width: 250px;
        height: 200px;
        line-height: 200px;
        margin-right: 50px;
    }

    form {
        margin-right: 740px;
    }
}

@media (max-width: 768px) {
    .box {
        width: 80px;
        height: 55px;
        font-size: 12px;
        margin-left: 100px;
    }

    .rect1 {
        width: 200px;
        height: 180px;
        line-height: 180px;
        margin-right: 20px;
        margin-top: 10px;
        float: none;
    }

    form {
        margin-right: 0;
        width: 100%;
    }

    input[type="number"] {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .box {
        width: 60px;
        height: 45px;
        font-size: 10px;
        margin-left: 0;
    }

    .rect1 {
        width: 100%;
        height: auto;
        line-height: normal;
        margin-right: 0;
        margin-top: 10px;
        float: none;
    }

    .norm, label {
        font-size: 16px;
    }

    input[type="submit"] {
        padding: 5px;
        font-size: 10px;
    }
}
